html {
    scroll-behavior: smooth;
  }
a {
  text-decoration-line: none;}


[type='radio'] {
    display: none; 
}

form > div > div > label {
    transition: all 0.3s;
    cursor: pointer;
    color: rgb(160, 160, 160);
}
form > div > div{
    transition: all 0.3s;
}
form > div > div:hover {
    color: rgb(255, 255, 255)
}

.radio-custom:checked ~ label {
    color: black;
}

/* input{
    outline: 2px solid #28a745;
    border: 2px solid #28a745;
    border-radius: 5px;
} */
.form-control{
    border: 2px solid #2db400;
}

.form-control:focus {
    border-color: #FF0000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(45, 180, 0,0.6);
}