{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/search.css' %}" />
{% endblock %}
{% block content %}
<div class="horizon"></div>
<!--<div class="horizon" style="height:5px;"></div>-->
<div class='container-fluid w-100'>
    {% comment %} 두 번째 버전 컨테이너 안에 있는 경우 - 일단 저는 이 경우가 좀 더 좋아보입니다. {% endcomment %}
    <div class='d-flex justify-content-start'>
        <div class="topbar">
            <span class="main-title p-1">BLOGNAVI</span> 
            <span class="ta-center top p-1">
                <input type="text" class="container-lg border" placeholder="검색어" />
            </span>
        
            <span class="ta-center top p-1">
                <input type="text" class="container-lg border" placeholder="포함 단어" />
            </span>
            <span class="ta-center top p-1">
                <input type="text" class="container-lg border" placeholder="제외 단어" />
            </span>
            <span class="ta-center top p-1">
                <input type="text" class="container-lg border" placeholder="작성자" />
            </span>
        </div>
    </div>
    <div class='row'>
        <div class='col-9'>
            <div class="search-result">
                <span><b>"{{ search_query }}"</b>에 대한 검색결과 입니다.</span>
                <span>총 <b>{{ article_data|length }}</b>개의 검색결과가 존재합니다.</span>
            </div>
            <div class="result">
                <div class="articles list-group">
                    {% for article in article_data %}
                    <a href="{{ article.link }}" class="list-group-item list-group-item-action">
                        <div class="d-flex justify-content-between">
                            <h5 class="mb-1">{{ article.title|truncatechars:35 }}</h5>
                            <small class="date" id="0">{{ article.postdate }}</small>
                        </div>
                        <p class="mb-1">{{ article.content|truncatechars:200 }}</p>
                        <small class="author" id="0" href="{{ article.author_link }}">
                            {{ article.author|truncatechars:15 }}
                        </small>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class='col-3'>
            <div class="params">
                <div class="p-item card">
                    <div class="card-body">
                        <h6 class="card-title">포함 단어</h6>
                        <p class="card-text">{{ search_contain }}</p>
                    </div>
                </div>
                <div class="p-item card">
                    <div class="card-body">
                        <h6 class="card-title">제외 단어</h6>
                        <p class="card-text">{{ search_exclude }}</p>
                    </div>
                </div>
                <div class="p-item card">
                    <div class="card-body">
                        <h6 class="card-title">작성자</h6>
                        <p class="card-text">{{ search_author }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% comment %} 처음 디자인에는 메인으로 돌아가기 버튼이 없는데 이게 있으려면, 푸터 위에 고정시키는 것이 좋을 듯 합니다. {% endcomment %}
    <div class="fixed-bottom d-flex justify-content-center" style="bottom: 25px;">
        <a href={% url 'index' %} class="btn w-75" style='background-color: #2db400; color: white; border-radius: 12px;'>
            메인으로 돌아가기
        </a>
    </div>
</div>
<div class="horizon fixed-bottom"></div>
{% endblock %}
